.form-patient{
    .submit-patient{
        width: 180px;
        height: 40px;
    }
    .cancel-patient{
        height: 40px;
    }
    textarea{
        max-height: 150px;
    }
    button {
        
        height: 50px;
    }
}