.patient{
    background: #ececec;
    border-radius: 15px ;
    font-weight: 500;
    height: 192.685px;
    min-height: 192.685px;

    // padding: 28px 0px;
    margin: 15px 25px;
    position: relative;
    text-align: center;
    // width: 13%;
    width: 150px;
    -webkit-box-shadow: 15px 15px 15px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 15px 15px 15px 0px rgba(0, 0, 0, 0.25);
    .name {
        padding-top: 24px;
    }
    .detail {
        bottom: 7px;
        background: #3895ea;
        border: none;
        border-radius: 100px;
        color: #fff;
        cursor: pointer;
        margin: auto;
        outline: none;
        position: absolute;
        padding: 10px ;
        right: 15px;
        width: 80%;
        &:hover {
            background: #0060fb;
        }
    }
}
@media screen and ( max-width: 1120px ){
    .paciente{
        min-width: 136px;
    }
}