.patient{
    max-height: 187.869px;
    .info{
        height: 119px;
        max-height: 119px;
    }
    .details{
        height: 26.733px;
        max-height: 26.733px;
        
        i {
            cursor: pointer;
        }
    }
    
}