$clinic-color: #00ebc5;
$item-color: #1B9AAA;
$item-color-black: #136F7C;
$gray-color: rgba(163, 163, 163, 0.356);

.Navbar-left{
    border-right: 1px solid rgba(192, 192, 192, 0.33);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
    z-index: 100;
    @import './Navbar-sons.scss';
}

